@using System.Data
@using System.Linq
@using Falcon.Entity.Master

@model Falcon.Entity.Master.MiscConfigurationViewModel

@{
    ViewBag.Title = "Misc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-select/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/datatables/css/fixedHeader.bootstrap4.css">
    <style>
        input[type="search"] {
            -webkit-appearance: textfield;
        }

        .col-sm-12.col-md-6 {
            padding-left: 0px !important;
        }

        .dropdown.bootstrap-select {
            width: 65px !important;
        }

        .txt-cntr-spc {
            text-align: center;
            vertical-align: middle;
            word-spacing: 10px;
        }

        .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
        }

    </style>
}
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->

    <div class="container-fluid dashboard-content ">
        @*@if (ViewBag.AlertShow)
        {
            <div id="alert-box" class="@(ViewBag.AlertClass)" role="alert">
                @(ViewBag.AlertMessage)
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
        }*@
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Miscellaneous Master Data</h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Home", "Dashboard")</li>
                                <li class="breadcrumb-item active" aria-current="page">Miscellaneous Master Data</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="form-row">
            <div class="col-5 m-r-15">
                <div class="form-group ">
                    @{ Html.RenderPartial("_MasterDataGrid", Model.ViewModel.Where(x => x.ControllerName.Equals("Relationship")).First()); }
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    @{ Html.RenderPartial("_MasterDataGrid", Model.ViewModel.Where(x => x.ControllerName.Equals("Occupation")).First()); }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-5 m-r-15">
                <div class="form-group">
                    @{ Html.RenderPartial("_MasterDataGrid", Model.ViewModel.Where(x => x.ControllerName.Equals("Religion")).First()); }
                </div>
            </div>
            <div class=" col-5">
                <div class="form-group">
                    @{ Html.RenderPartial("_MasterDataGrid", Model.ViewModel.Where(x => x.ControllerName.Equals("Caste")).First()); }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class=" col-5 m-r-15">
                <div class="form-group">
                    @{ Html.RenderPartial("_MasterDataGrid", Model.ViewModel.Where(x => x.ControllerName.Equals("Category")).First()); }
                </div>
            </div>
        </div>
    </div>

    <div id="modal-container" class="modal fade"
         tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>


<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->


@section Scripts {
    <script src="~/Content/vendor/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/vendor/datatables/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/vendor/datatables/js/data-table.js"></script>
    <script src="~/Content/vendor/datatables/js/jszip.min.js"></script>
    <script src="~/Content/vendor/datatables/js/pdfmake.min.js"></script>
    <script src="~/Content/vendor/datatables/js/vfs_fonts.js"></script>
    <script src="~/Content/vendor/datatables/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendor/datatables/js/buttons.print.min.js"></script>
    <script src="~/Content/vendor/datatables/js/buttons.colVis.min.js"></script>
    <script src="~/Content/vendor/datatables/js/dataTables.rowGroup.min.js"></script>
    <script src="~/Content/vendor/datatables/js/dataTables.select.min.js"></script>
    <script src="~/Content/vendor/datatables/js/dataTables.fixedHeader.min.js"></script>

    <script>


        $(document).ready(function () {
            $('table').DataTable({
                "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]]
            });

            $('select').selectpicker(function () {
                $(this).addClass("selectpicker select-width");
                $(this).selectpicker("refresh");
            });

            $('a[data-original-title=Create]').click(function () {
                $(input)
            });
        });

        
    </script>
}
